{% extends "BackWebsiteBundle::layout.html.twig" %}

{% block css %}{% endblock %}

{% block maintype %}{% endblock %}

{% block content %}
	<section id="login">
		<h1>Authentification</h1>
		<div id="section-content">
			{% for key, message in app.session.flashbag.all() %}
				<div class="alert alert-{{ key }}">{{ message|trans({}, 'FOSUserBundle') }}</div>
			{% endfor %}
	
			{% if error %} <p class="error">{{error.message}}</p> {% endif %}
	
			<p>Gérez votre compte et accédez aux différentes ressources mises à votre disposition sur votre interface de gestion interne. Identifiez-vous en utilisant les accès qui vous ont été fournis et qui sont directement associés à vos informations.</p>
			<form action="{{ path('fos_user_security_check') }}" method="post">
			<table>
				<tr>
					<th>Login</th>
					<td><input type="text" name="_username" placeholder="Login" /></td>
				</tr>
				<tr>
					<th>Mot de passe</th>
					<td><input type="password" name="_password" placeholder="Mot de passe" /></td>
				</tr>
				<tr>
					<td><a href="">Mot de passe perdu ?</a></td>
					<td>
						<input type="hidden" name="action" value="login" />
						<input type="submit" />
					</td>
				</tr>
			</table>
			</form>
			{% block fos_user_content %}{% endblock fos_user_content %}
			<div class="clear"></div>
		</div>
	</section>
{% endblock %}

{% block js %}{% endblock %}