<h2>Biothérapies</h2>
<div class="aside-content">
	<nav>
    <ul>
    	<li><a href="{{ path('back_biotherapy_add')}}">Ajouter une biothérapie</a></li>
    	<li><a href="{{ path('back_biotherapy_homepage')}}">Modifier les biotherapies</a></li>
    </ul>
    </nav>
</div>