<h2>Situations Cliniques</h2>
<div class="aside-content">
	<nav>
    <ul>
    	<li><a href="{{ path('back_CS_add')}}">Ajouter une situation cliniques</a></li>
    	<li><a href="{{ path('back_CS_homepage')}}">Modifier les situations cliniques</a></li>
    </ul>
    </nav>
</div>