<h2>Médias</h2>
<div class="aside-content">
	<nav>
    <ul>
    	<li><a href="{{ path('back_media_add')}}">Ajouter un média</a></li>
    	<li><a href="{{ path('back_media_homepage')}}">Modifier les médias</a></li>
    </ul>
    </nav>
</div>