{% extends "BackWebsiteBundle::layout.html.twig" %}

{% block css %}{% endblock %}

{% block content %}

	{% include 'BackWebsiteBundle:Default:menu.html.twig' %}
	
	<section id="admin">
		<h1>Gestion du site</h1>
		<div id="section-content">Bienvenue dans la gestion des contenus et des informations du site internet.</div>
	</section>
{% endblock %}

{% block js %}{% endblock %}