<h2>Partenaires</h2>
<div class="aside-content">
	<nav>
    <ul>
    	<li><a href="{{ path('back_partner_add')}}">Ajouter un partenaire</a></li>
    	<li><a href="{{ path('back_partner_homepage')}}">Modifier les partenaires</a></li>
    </ul>
    </nav>
</div>